.container {
  max-width: 1170px;
  margin: auto;
}

.navbar {
  border-bottom: 1px solid #ebebeb;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 120px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  margin-right: 15px;
}

.logo__text {
  color: #797d85;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 15px;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #5b5f64;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fafcfc;
}

.section {
  padding-top: 110px;
}

.section__title {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  color: #333740;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

.section__title span:first-child {
  padding-right: 20px;
}

.section__title span:last-child {
  font-weight: 300;
  border-left: 1px solid #18a3dd;
  padding-left: 20px;
}

.section__subtitle {
  text-align: center;
  margin-bottom: 70px;
  font-size: 16px;
}

.btn {
  display: block;
  margin-top: 30px;
  color: #f1f1f1;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  text-decoration: none;
  background-color: #18a3dd;
  padding: 15px 40px;
  border-radius: 35px;
}

.btn span {
  display: inline-block;
  margin-left: 186px;
}

.fetures {
  padding-top: 0;
  width: 100%;
  min-height: 610px;
  background: #fafcfc url("../img/fetures-img.png") no-repeat center 280px;
}

.fetures-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fetures-block__content {
  margin-top: 50px;
}

.fetures-block__content:not(:last-child) {
  margin-left: 50px;
}

.fetures-block__content:last-child {
  margin-right: 50px;
}

.fetures-block__image {
  margin-bottom: -25px;
}

.fetures-block__item:first-child {
  margin-bottom: 60px;
}

.fetures-block__title {
  padding-right: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 16px;
  height: 35px;
  text-transform: uppercase;
  color: #333740;
  text-align: right;
  border-right: 5px solid #18a3dd;
}

.fetures-block__title-left {
  padding-left: 15px;
  text-align: left;
  border-right: none;
  border-left: 5px solid #18a3dd;
}

.fetures-block__text::first-letter {
  padding-left: 9px;
}

.product {
  position: relative;
  min-height: 500px;
  background: url("../img/product_bg.png") no-repeat left center;
}

.product-wrap {
  position: relative;
  min-height: 200px;
  background-color: #0f0816;
  background-image: linear-gradient(-40deg, #0f0816 0%, #21172b 90%, #21172b 100%);
  margin-top: 50px;
  z-index: -1;
}

.product-block {
  min-height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-block__count {
  position: relative;
  padding-left: 25px;
  width: 124px;
  height: 55px;
  color: #ffffff;
  font-family: "Lato";
  font-size: 72px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  margin: 0;
}

.product-block__count::after {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  width: 5px;
  height: 50px;
  background-color: #18a3dd;
  border-radius: 4px;
}

.product-block__description {
  margin-top: 35px;
}

.product-block__description p {
  margin: 0;
  color: #18a3dd;
  font-family: "Lato";
  font-weight: 700;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.product-block__description p:last-child {
  text-transform: none;
  margin-top: 5px;
  font-family: "Lato";
  font-weight: 300;
  letter-spacing: 0.4px;
  color: #a9a9a9;
}

.hero {
  background-color: #fafcfc;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px 20px;
  background: url("../img/hero_bg.png") no-repeat right 180px;
  min-height: 737px;
}

.hero-block__name {
  position: relative;
  padding-left: 25px;
}

.hero-block__name::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 5px;
  height: 90px;
  background-color: #18a3dd;
  border-radius: 4px;
}

.hero-block__title {
  color: #333740;
  font-family: "Raleway";
  font-size: 72px;
  font-weight: 900;
  line-height: 35px;
  text-transform: uppercase;
  margin: 0;
}

.hero-block__subtitle {
  color: #333740;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.6px;
  margin: 0;
  margin-top: 30px;
}

.hero-block__text {
  margin-top: 45px;
  color: #666666;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.hero-block__content {
  margin-top: 300px;
}

.hero-block__btn {
  width: 108px;
  margin-top: 0;
}

.hero-block__btn-video {
  text-decoration: none;
  width: 151px;
  color: #333740;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 5px;
  margin-left: 20px;
}

.hero-block-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.people {
  min-height: 750px;
  background: #ffffff;
}

.people-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-container {
  position: relative;
  margin: 20px auto 0;
  width: 800px;
  height: 400px;
}

.slides {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.slides img {
  width: 100%;
  height: 100%;
}

.slide_img {
  display: none;
}

#arrow_next label, #arrow_prev label {
  color: rgba(0, 0, 0, 0.7);
  position: absolute;
  visibility: hidden;
  cursor: pointer;
  top: 45%;
  font-size: 80px;
}

#arrow_prev label {
  top: 160px;
  left: -180px;
}

#arrow_next label {
  top: 160px;
  right: -180px;
}

.switchers {
  position: absolute;
  width: 100%;
  height: 370px;
  bottom: -400px;
  text-align: center;
}

.switcher {
  background: #d8e4e8;
  width: 10px;
  height: 10px;
  position: relative;
  top: 7px;
  margin: 0 8px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

#img_1:checked ~ #first,
#img_2:checked ~ #second,
#img_3:checked ~ #third {
  visibility: visible;
  opacity: 1;
}

#img_1:checked ~ div #switcher1,
#img_2:checked ~ div #switcher2,
#img_3:checked ~ div #switcher3 {
  background: #18a3dd;
}

#img_1:checked ~ #arrow_next label:nth-child(2),
#img_2:checked ~ #arrow_next label:nth-child(3),
#img_3:checked ~ #arrow_next label:nth-child(1) {
  visibility: visible;
}

#img_1:checked ~ #arrow_prev label:nth-child(3),
#img_2:checked ~ #arrow_prev label:nth-child(1),
#img_3:checked ~ #arrow_prev label:nth-child(2) {
  visibility: visible;
}

.feedback {
  min-height: 610px;
  background: url("../img/feedback_bg.png") no-repeat center center;
  background-size: cover;
}

.feedback__title {
  color: #e5e5e5;
}

.feedback__subtitle {
  color: #767a7d;
}

.feedback-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback-block__text {
  text-align: center;
  font-size: 16px;
  font-style: italic;
  color: #767a7d;
}

.feedback-block__kek {
  position: relative;
  margin-bottom: 15px;
}

.feedback-block__kek::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 5px;
  background-color: #18a3dd;
  margin-top: 10px;
  border-radius: 2px;
}

.feedback-block__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.feedback-block__author__name {
  display: block;
  margin-bottom: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  color: #e5e5e5;
  text-transform: uppercase;
}

.feedback-block__author__city {
  display: block;
  color: #8c8a8d;
  font-style: normal;
  font-size: 14px;
}

.feedback-block__img {
  background: url("../img/feedback-img.png") no-repeat;
  background-size: 200%;
  background-position: -45px -5px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width: 65px;
  height: 73px;
  margin-right: 25px;
}

.facts {
  background-color: #fafcfc;
  min-height: 870px;
}

.facts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.facts-block__img {
  background: url("../img/facts_img.png") no-repeat;
  background-size: 200%;
  background-position: -35px -20px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width: 103px;
  height: 116px;
}

.facts-block-table {
  min-width: 460px;
  border-collapse: collapse;
}

.facts-block-table th {
  padding-bottom: 15px;
  text-transform: uppercase;
  font-size: 24px;
  color: #333740;
  text-align: justify;
  border-bottom: 5px solid #333740;
}

.facts-block-table th span {
  display: inline-block;
  padding: 0;
  margin-left: 67px;
  font-weight: 300;
}

.facts-block-table th:last-child {
  font-size: 16px;
  width: 104px;
}

.facts-block-table tr {
  border-bottom: 1px solid #ebebeb;
  color: #5b5e66;
}

.facts-block-table td {
  padding: 10px 0;
  font-size: 16px;
}

.facts-block-table td:nth-child(even) {
  text-align: right;
}

.facts-block-table tr:nth-of-type(2) td {
  padding-top: 25px;
}

.facts-block__item {
  padding: 0 55px;
}

.facts-block__item:last-child {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.facts-block__name {
  position: relative;
  margin-top: 40px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.facts-block__name::after {
  content: "";
  position: absolute;
  left: 0;
  top: 2;
  width: 5px;
  height: 38px;
  background-color: #18a3dd;
  border-radius: 4px;
}

.facts-block__title {
  margin: 5px 0;
  text-transform: uppercase;
  color: #333740;
}

.certifications {
  min-height: 370px;
  background-color: #f1f4f5;
}

.certifications-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.certifications-block__item {
  min-width: 195px;
  min-height: 102px;
  background: #f1f4f5 url("../img/sprites.png");
  background-blend-mode: multiply;
}

.certifications-block__item:not(:first-child) {
  border-left: 1px solid #dcdcdc;
  margin-left: 10px;
}

.certifications-block__item-1 {
  background-position: -9px -53px;
  min-width: 150px;
}

.certifications-block__item-2 {
  background-position: -180px -53px;
  min-width: 180px;
}

.certifications-block__item-3 {
  background-position: -440px -53px;
}

.certifications-block__item-4 {
  background-position: -720px -53px;
}

.certifications-block__item-5 {
  background-position: -1040px -53px;
}

.order {
  min-height: 634px;
  background: #ffffff url("../img/order_bg.png") no-repeat 200px 120px;
  background-size: 40%;
}

.order-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10%;
  margin-right: 180px;
}

.order-block__title {
  position: relative;
  padding-left: 25px;
}

.order-block__title::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 40px;
  background-color: #18a3dd;
  left: 0;
  top: 10px;
  border-radius: 4px;
}

.order-block__name {
  color: #333740;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 5px;
}

.order-block__text {
  color: #666666;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.4px;
  line-height: 24px;
}

.order-block__price {
  color: #333740;
  font-family: Lato;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 24px;
}

.order-block__btn {
  margin: 0;
  margin-top: 10px;
  display: inline-block;
}

.subscribe {
  min-height: 402px;
  background: rgba(0, 0, 0, 0.97) url("../img/subscribe_bg.png") no-repeat center center;
  background-size: contain;
}

.subscribe__title {
  color: #e5e5e5;
}

.subscribe__subtitle {
  color: #767a7d;
}

.subscribe-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-block__content {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 36px 32px;
}

.subscribe-block__btn {
  display: inline-block;
  margin: 0;
  border-radius: 0;
  margin-left: -5px;
  border-radius: 0 35px 35px 0;
}

.subscribe-block__input {
  padding: 18px 30px;
  min-width: 405px;
  min-height: 50px;
  border-radius: 35px 0 0 35px;
  border: none;
}

.contact {
  min-height: 724px;
  background-color: #ffffff;
}

.contact-block {
  max-width: 560px;
  margin: 0 auto;
}

.contact-block-form-input, .contact-block-form-textarea {
  width: 100%;
}

.contact-block-form-input {
  border: none;
  border-bottom: 1px solid #ebebeb;
  padding: 10px 0;
}

.contact-block-form-textarea {
  border: none;
  border-bottom: 1px solid #ebebeb;
  resize: none;
}

.contact-block-form-btn {
  border: none;
  margin: 0 auto;
  width: 226px;
  cursor: pointer;
}

.contact-block-form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.contact-block-form-row:first-child .contact-block-form-group:last-child input {
  width: 261px;
  margin-left: 20px;
}

.contact-block-form-row:first-child .contact-block-form-group:first-child input {
  width: 261px;
}

.contact-block-form-group {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.footer {
  background-color: #f1f4f5;
}

.footer-block {
  min-height: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__description {
  padding-left: 15px;
}

.footer__logo {
  width: 251px;
  height: 53px;
  color: #666666;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 22px;
  font-style: normal;
}

.footer__social {
  font-size: 24px;
}

.footer__social span:not(:last-child) {
  padding-right: 50px;
}

.footer__social span:last-child {
  padding-right: 15px;
}

.footer__nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-left: -50px;
}

.footer__nav a {
  text-decoration: none;
  color: #666666;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  line-height: 20px;
  padding: 10px 10px;
}

.footer__nav li:not(:last-child) {
  border-right: 1px solid #d9d9d9;
}
/*# sourceMappingURL=main.css.map */